:root
{
    --primary: #003F8F;
}
*
    {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0;
    margin: 0;
    font-family: inter;
    scrollbar-width: none !important;
    scrollbar-color: unset !important;
    transition: .2s;
    }

a
    {
    color: var(--primary);
    text-decoration: none;
    font-weight: bold;
    }

p
    {
    color: #000000;
    font-family: inter;
    }

h1
    {
    color: #000000;
    font-family: inter;
    }

body
    {
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    background-color: #ffffff;
    }



.button
    {
    background-color: var(--primary);
    color: #ffffff;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    outline: 2px solid var(--primary);
    text-align: center;
    }

    .button:hover
    {
    filter: brightness(1.2);
}

.button2
    {
    background-color: #fff;
    color: var(--primary);
    border: none;
    border-radius: 2px;
    font-weight: 600;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    text-align: center;
    outline: 2px solid #ffffff;
    }

.button2:hover
{
    filter: brightness(0.8);
}

.button3
    {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    outline: 2px solid var(--primary);
    color: var(--primary);
    border: none;
    border-radius: 10px;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    padding: 5px 15px;
    cursor: pointer;
    text-align: center;
}

.button4
{
    background-color: #ffffff00;
    text-align: center;
    outline: 2px solid #ffffff;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    padding: 2px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    }








.navvy
    {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background-color: var(--primary);
    box-shadow: 0 0 5px 1px #00000027;
    box-sizing: border-box;
    }


.links
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.links a
{
    color: #fff !important;
    text-decoration: none;

}
.navvy a img
{
    height: 70px;
}

.section
{
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
}
.section img
{
    width: 50%;
}
.section a
{
    text-align: center;
}
.section a button
{
    padding: 10px 90px 10px 90px;
    margin-left: auto;
    margin-right: auto;
}
.section a button:hover
{
    background-color: var(--primary);
    color: #fff;
}


.btn
{
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    justify-content: center;
    color: #fff !important;
    background-color: #003F8F !important;
    border-radius: 10px !important;
}
.btn i::before
{
    display: flex;
    align-items: center !important;
    justify-content: center;
}
.btn:hover
{
    outline: 1px solid #003F8F !important;
    color: #003F8F !important;
    background-color: #fff !important;

}
.major-card
{
    border-radius: 20px !important;
}
.card-body
{
    color: #003f8f !important;
    border-radius: 10px !important;
    flex:1 1 auto;
    padding: 30px;
}

.card-title
{
    font-weight: 700 !important;
}

.text-primary8
{
    font-size: 50px;
    font-weight: 700;
    color: #003F8F !important;
}
.text-primary9
{
    font-size: 30px;
    font-weight: 700;
    color: #003F8F !important;
}

footer
{
    width: 100%;
    height: auto;
    color: #fff;
    background: #003F8F;
    padding: 30px;
    box-sizing: border-box;
}

footer .container
{
    padding: 0;
    display: flex;
    justify-content: space-between;
}
footer .container p, 
footer .container h5
{
    color: #fff !important;
}
footer .container .right
{
    display: flex;
    align-items: end;
}

#formphp body .content
{
    display: flex;
    flex-direction: column;
    padding: 40px 30px 40px 30px;
    box-sizing: border-box;
}
#formphp body .content .sections
{
    display: flex;
    flex-direction: row;
}
#formphp body .content .sections .sect
{
    width: 50%;
    height: 400px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
#formphp body .content .sections .sect .div
{   
    margin-bottom: 30px;
    flex-direction: column;
    display: flex;
    gap: 10px;
}
#formphp body .content .sections .sect .div label
{
    font-size: 20px;
}
#formphp body .content .sections .sect .div label::after
{
   content: " *";
   font-size: 18px;
   color: #003F8F;
}
#formphp body .content .sections .sect .div .label-optional::after
{
   content: "";
}
#formphp body .content .sections .sect .div label span
{
    font-size: 12px;
}
#formphp body .content .sections .sect .div .input
{
    height: 40px;
    width: 60%;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-size: 18px;
    border: 2px solid #003e8f00;
    border-bottom: 2px solid #003F8F;
    border-radius: 3px;
}
#formphp body .content .sections .sect .div .input:focus
{
    border: 2px solid #003F8F;
    
}
#formphp body .content .sections .sect .div .radio
{
    gap: 10px;
    display: flex;
    box-sizing: border-box;
    padding: 7px 0;
}
#formphp body .content .sections .sect .div .radio div
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#formphp body .content .sections .sect .div .radio div input
{
    width: 100px;
}


#formphp body .content input[type="submit"]
{
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: end;
}

@media only screen and (max-width: 768px) 
{
    .navvy
    {
        flex-direction: column;
    }
    .navvy .left
    {
        align-items: center;
    }
    .navvy .links
    {
        margin-top: 20px;
    }
    .logo
    {
        font-size: 5vw;
    }
    .section
    {
        flex-direction: column;
        padding-left: 10px;
        padding-right: 10px;
    }
    .section .left
    {
        width: 100%;
        height: 40%;
    }
    .section .right
    {
        height: 70%;
        width: 100%;
    }

    footer .container
    {
        flex-direction: column;
        gap: 30px;
    }


    #formphp body .content .sections
    {
        flex-direction: column;
    }
    #formphp body .content .sections .sect
    {
        width: 100%;
    }
    #formphp body .content .sections .sect div .input
    {
        width: 100% !important;
    }
}